@font-face{
    font-family: 'Precious';
    src: url("../Precious.ttf");
}

@media only screen and (min-width : 768px) {
     #actualquote{
         position: relative;
         bottom: 200px;

        font-family: Precious;
        font-size: 3.5vw;

     }


    }

html {
    background-image: url(../images/backgrounds33.jpg);
}

body {
    background: transparent;
}

body h1 {
    text-align: center;
}

#svg-obj {
    height:100%;
    width: 100%;
    display: block;
    align-content: center;
    margin-left: 3%;
}


#Selection1 {
    fill: floralwhite;
}
#Selection {
    fill: floralwhite;
}

#Selection3 {
    fill-opacity: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: FillIn;
    animation-duration: 3s;
    animation-delay: 1s;
    fill: black;
}

.navbar{
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

#actualquote{
    font-family: Precious;
    font-size: 3.5vw;
    position: relative;
    bottom: 200px;

}


@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}

@keyframes FillIn {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}
