
@font-face{
    font-family: Simplifica;
    src: url('../SIMPLIFICA .ttf');

    font-family: Precious;
    src: url('../Precious.ttf')
}

header{
    background-color:#2F343B ;
    background-image: linear-gradient(-180deg , hsla(0,0%,0%,0), hsla(0,0%,0%,.05));
    background-size: 5px;
    font-family: Simplifica;
    font-weight: bolder;
    font-size: 15em;
    text-align: center;
    border: 0px;
    margin: 0;
    padding: 0;
    color: #E3CDA4;
}

h1{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 100;
}

nav{
    background-color: #7E827A;
    font-family: Simplifica;

    margin: 0;
    padding: 0;
    text-indent: -20px;

}

.navigation{
    font-size: 3em;

}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding-right: 5;
    padding-left: 10;

    align-content:center;
}

.navback{
    background-color: #B65E0C;
    padding-left: 5;
    padding-top: ;
}

a{
    color:inherit;
    text-decoration: none;
}

a:hover{
    color:forestgreen;
}

html,body{

    background-color: #703030;
    background-image: linear-gradient(-45deg, hsla(0,0%,0%,0), hsla(0,0%,0%,.05) );
    background-size: 5px;
    font-family: Simplifica;
}
h2{
    font-family: Simplifica;
    font-size: 2em;
    font-weight: 0;
    text-indent: 10px;

}

#quote{
    text-align: center;
}

#quoter{
    position: relative;
    width:70%;
    margin: auto;
    background-color: #2D8633;
    border-radius: .5em;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

    linear-gradient(180deg, hsl(0,1%,17.85%)  0%,
    hsl(0%,0%,100%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

#actualquote{
    font-family: Precious;
    font-size: 2em;
    text-align: center;
}

#authorquote{
    font-family: Precious;
    font-size: 1em;
    text-align: right;
    position: relative;
    left: -30px
}

.accoridans{
    background-color: #7E827A;
}

.desc{
    font-size: 1.2em;
    text-indent: 10px;
    color: #E3CDA4;
}

#refresh{

    background-image:none !important;
    filter:none !important;
    border: none;
    box-shadow: 0 0 0px white;
    background-color: #2D8633;
    position:relative;
    top: -37;
    right: 2;
}


@media only screen and (max-width:768px){

    .heads{
        font-size: 4.5em;

    }

    #actualquote{

        font-size: 1em;
    }

    #authorquote{
        font-size: 0.5em;
    }

    #quote{
        font-size: 1.2em;
    }

    #refresh{
        top: -1px;
    }


}
